[Unit]
SourcePath=/opt/VBoxGuestAdditions-6.1.50/init/vboxadd
Description=
Before=runlevel2.target runlevel3.target runlevel4.target runlevel5.target shutdown.target display-manager.service 
After=
Conflicts=shutdown.target 

[Service]
Type=oneshot
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
ExecStart=/opt/VBoxGuestAdditions-6.1.50/init/vboxadd start
ExecStop=/opt/VBoxGuestAdditions-6.1.50/init/vboxadd stop

[Install]
WantedBy=multi-user.target
