SUBSYSTEM=="block", ACTION=="add|change", ENV{ID_FS_TYPE}=="suspend|swsuspend|swsupend",  RUN+="/bin/sh -c 'echo %M:%m > /sys/power/resume'"
SUBSYSTEM=="block", ACTION=="add|change", ENV{ID_FS_TYPE}=="suspend|swsuspend|swsupend",  RUN+="/bin/sh -c 'echo %M:%m > /sys/power/resume'"
