[Unit]
Description=Console Mouse manager
ConditionPathExists=/etc/gpm.conf
Documentation=man:gpm(8) man:gpm.conf(5) man:gpm-types(7)

[Service]
ExecStart=/usr/share/gpm/gpm-systemd-wrapper.sh
Type=forking
PIDFile=/run/gpm.pid

[Install]
WantedBy=multi-user.target
