[Unit]
Description=RabbitMQ Messaging Server
After=network.target epmd.socket
Wants=network.target epmd.socket

[Service]
Type=notify
User=rabbitmq
Group=rabbitmq
UMask=0027
NotifyAccess=all
TimeoutStartSec=600
LimitNOFILE=65536
# ERL_MAX_PORTS can be used to further limit the number of concurrent client
# connections. It should be equal or less than LimitNOFILE, and be a power of 2.
# If not defined, the startup script will set ERL_MAX_PORTS to the value of
# LimitNOFILE. An example is below.
# Environment="ERL_MAX_PORTS=16384"
SyslogIdentifier=rabbitmq
Restart=on-failure
RestartSec=10
WorkingDirectory=/var/lib/rabbitmq
ExecStart=/usr/lib/rabbitmq/bin/rabbitmq-server
ExecStop=/usr/sbin/rabbitmqctl stop
StandardOutput=append:/var/log/rabbitmq/rabbitmq-server.log
StandardError=append:/var/log/rabbitmq/rabbitmq-server.error.log

[Install]
WantedBy=multi-user.target
