[Unit]
Description=Indicator Messages Service
PartOf=graphical-session.target
After=indicators-pre.target

[Service]
ExecStart=/usr/lib/x86_64-linux-gnu/indicator-messages/indicator-messages-service
Restart=on-failure
