[Unit]
Description=KActivityManager Activity manager Service
PartOf=graphical-session.target

[Service]
ExecStart=/usr/lib/x86_64-linux-gnu/libexec/kactivitymanagerd
BusName=org.kde.ActivityManager
Slice=background.slice
