[Desktop Entry]
Type=Application
Name=Ayatana Indicator Application
Exec=/usr/libexec/ayatana-indicator-application/ayatana-indicator-application-service
StartupNotify=false
Terminal=false
OnlyShowIn=Unity;MATE;XFCE;Budgie;
NoDisplay=true
