[Desktop Entry]
Type=Application
Name=Xfce Notification Daemon
Exec=/usr/lib/x86_64-linux-gnu/xfce4/notifyd/xfce4-notifyd
Icon=org.xfce.notification
OnlyShowIn=XFCE;
