[Desktop Entry]
Version=1.0
Type=Application
Name=PyedPro
Comment=
Exec=./pyedpro/pyedpro/pyedpro.py
Icon=accessories-text-editor
Path=
Terminal=false
StartupNotify=true
