[Desktop Entry]
Version=1.0
Type=Application
Name=Thunderbird Mail
Comment=Send and receive mail with Thunderbird
Exec=thunderbird %u
Icon=thunderbird
Path=
Terminal=false
StartupNotify=true
